ReadJSessionID/SOA/Schemas/ProcessJSessionIDFromResponseHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/RulesSDKApplication_pradipta/ReadJSessionID/ProcessJSessionIDFromResponseHeader"
        xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="username" type="string"/>
                <element name="username" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="JSessionID" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>